.customer {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.customer-table {
  width: 100%;
  border-collapse: collapse;

}


.customer-table th,
.customer-table td {
  padding: 10px;
  text-align: left;
  
}

.customer-table th {
  background-color: #333;
  color: #fff;
}

.customer-table tr:nth-child(even) {
  background-color: #e9e9e9;
}

.customer-table img {
  max-width: 100%;
  height: auto;
}

































